<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail</title>
</head>
  <body>
    
    <h1><%= moviesPK.title %></h1>
    <h2>Rating</h2>
    <h2><%= moviesPK.rating %></h2>
      <h2>Premios</h2>
    <h2><%= moviesPK.awards %></h2>
    <h2>Duración</h2>
    <h2><%= moviesPK.length %></h2>
    <h2>Fecha de estreno</h2>
    <h2><%= moviesPK.release_date %></h2>

     <button type="submit">Borrar</button>

     <button type="submit">Modificar</button>
   </body>

    
</html>

